<div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px">
  <div
    class="gdlr-core-pbf-background-wrap"
    style="background-color: #161616"
  ></div>
  <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
    <div class="box" [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
      <div class="overlay">
        <h2 class="box-title">Le Laboratoire</h2>
        <p class="box-text">D’innovation Alimentaire</p>
        <hr class="box-line" />
        <p class="box-description">
          L’innovation alimentaire est au cœur de Scipertech. Lorsqu’il s’agit
          de développer de nouveaux produits et procédés, Scipertech est à
          l’avant-garde.
        </p>
        <a
          class="gdlr-core-button gdlr-core-button-gradient gdlr-core-center-align gdlr-core-button-no-border box-round-button"
          href="#"
        >
          <span class="gdlr-core-content">Contacter Nous</span
          ><i
            class="gdlr-core-pos-right ion-ios-arrow-thin-right"
            style="font-size: 31px; color: #ffffff"
          ></i>
        </a>
      </div>
    </div>
  </div>
</div>
