<footer>
  <div class="corzo-footer-wrapper">
    <div class="corzo-footer-container corzo-container clearfix">
      <div class="corzo-footer-column corzo-item-pdlr corzo-column-15">
        <div id="text-7" class="widget widget_text corzo-widget">
          <div class="textwidget">
            <p>
              <img
                loading="lazy"
                src="assets/upload/logox1.png"
                alt=""
                width="123"
                height="31"
                title="logox1"
              />
            </p>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia,
            </p>
          </div>
        </div>
      </div>
      <div class="corzo-footer-column corzo-item-pdlr corzo-column-15">
        <div
          id="gdlr-core-custom-menu-widget-1"
          class="widget widget_gdlr-core-custom-menu-widget corzo-widget"
        >
          <h1 class="corzo-widget-title corzo-with-divider">About Us</h1>
          <span class="clear"></span>
          <div class="menu-quick-links-container">
            <ul
              id="menu-quick-links"
              class="gdlr-core-custom-menu-widget gdlr-core-menu-style-half"
            >
              <li class="menu-item corzo-normal-menu">
                <a href="asset-management.html">Services</a>
              </li>
              <li class="menu-item corzo-normal-menu">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="menu-item corzo-normal-menu">
                <a href="about.html">About Us</a>
              </li>
              <li class="menu-item corzo-normal-menu"><a href="#">FAQ</a></li>
              <li class="menu-item corzo-normal-menu">
                <a href="blog-3-columns-with-frame.html">Blog</a>
              </li>
              <li class="menu-item corzo-normal-menu">
                <a href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="corzo-footer-column corzo-item-pdlr corzo-column-15">
        <div id="text-3" class="widget widget_text corzo-widget">
          <h1 class="corzo-widget-title corzo-with-divider">New York</h1>
          <span class="clear"></span>
          <div class="textwidget">
            <p>
              <span style="font-size: 18px; color: #999999; font-weight: 400"
                >Email</span
              ><br />
              <span style="font-size: 18px; color: #ffffff; font-weight: 600">
                <a
                  href="/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="185b77766c797b6c587b77767e7d6a796c707d757d366d6b"
                  >[email&#160;protected]</a
                >
              </span>
              <br />
              <span
                class="gdlr-core-space-shortcode"
                style="margin-top: -10px"
              ></span
              ><br />
              <span style="font-size: 18px; color: #999999; font-weight: 400"
                >Phone</span
              ><br />
              <span style="font-size: 18px; color: #ffffff; font-weight: 600"
                >+1-2345-3456</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="corzo-footer-column corzo-item-pdlr corzo-column-15">
        <div id="text-8" class="widget widget_text corzo-widget">
          <h1 class="corzo-widget-title corzo-with-divider">London</h1>
          <span class="clear"></span>
          <div class="textwidget">
            <p>
              <span style="font-size: 18px; color: #999999; font-weight: 400"
                >Email</span
              ><br />
              <span style="font-size: 18px; color: #ffffff; font-weight: 600">
                <a
                  href="/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="084b67667c696b7c486b67666e6d7a697c606d656d267d63"
                  >[email&#160;protected]</a
                >
              </span>
              <br />
              <span
                class="gdlr-core-space-shortcode"
                style="margin-top: -10px"
              ></span
              ><br />
              <span style="font-size: 18px; color: #999999; font-weight: 400"
                >Phone</span
              ><br />
              <span style="font-size: 18px; color: #ffffff; font-weight: 600"
                >+44-345-3456</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="corzo-copyright-wrapper">
    <div class="corzo-copyright-container corzo-container">
      <div class="corzo-copyright-text corzo-item-pdlr">
        <div
          class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
          style="padding-bottom: 0px"
        >
          <a
            href="#"
            target="_blank"
            class="gdlr-core-social-network-icon"
            title="facebook"
            style="
              font-size: 17px;
              color: #060606;
              width: 40px;
              line-height: 40px;
              background-color: #ffffff;
              border-radius: 20px;
              -moz-border-radius: 20px;
              -webkit-border-radius: 20px;
            "
          >
            <i class="fa fa-facebook"></i>
          </a>
          <a
            href="#"
            target="_blank"
            class="gdlr-core-social-network-icon"
            title="linkedin"
            style="
              font-size: 17px;
              color: #060606;
              margin-left: 10px;
              width: 40px;
              line-height: 40px;
              background-color: #ffffff;
              border-radius: 20px;
              -moz-border-radius: 20px;
              -webkit-border-radius: 20px;
            "
          >
            <i class="fa fa-linkedin"></i>
          </a>
          <a
            href="#"
            target="_blank"
            class="gdlr-core-social-network-icon"
            title="twitter"
            style="
              font-size: 17px;
              color: #060606;
              margin-left: 10px;
              width: 40px;
              line-height: 40px;
              background-color: #ffffff;
              border-radius: 20px;
              -moz-border-radius: 20px;
              -webkit-border-radius: 20px;
            "
          >
            <i class="fa fa-twitter"></i>
          </a>
          <a
            href="#"
            target="_blank"
            class="gdlr-core-social-network-icon"
            title="instagram"
            style="
              font-size: 17px;
              color: #060606;
              margin-left: 10px;
              width: 40px;
              line-height: 40px;
              background-color: #ffffff;
              border-radius: 20px;
              -moz-border-radius: 20px;
              -webkit-border-radius: 20px;
            "
          >
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <span class="gdlr-core-space-shortcode" style="margin-top: 20px"></span>
        © 1996-2021 Corzo, Inc.
      </div>
    </div>
  </div>
</footer>
