<header
  class="corzo-header-wrap corzo-header-style-bar corzo-header-background corzo-style-left"
>
  <div class="corzo-header-container clearfix corzo-container">
    <div class="corzo-header-container-inner">
      <div class="corzo-logo corzo-item-pdlr">
        <div class="corzo-logo-inner">
          <a class="corzo-fixed-nav-logo" href="index.htm">
            <img
              src="assets/upload/hp2-logo.png"
              alt=""
              width="123"
              height="34"
              title="hp2-logo"
            />
          </a>
          <a class="corzo-orig-logo" href="index.htm">
            <img
              src="assets/upload/hp3-logo.png"
              alt=""
              width="164"
              height="31"
              title="hp3-logo"
            />
          </a>
        </div>
      </div>
      <div class="corzo-logo-right-text corzo-item-pdlr corzo-clearfix">
        <div class="corzo-logo-right-text-image corzo-media-image">
          <img
            src="assets/upload/hp3-top-contact-icon-1.png"
            alt=""
            width="38"
            height="35"
            title="hp3-top-contact-icon"
          />
        </div>
        <div class="corzo-logo-right-text-inner">
          <div class="corzo-logo-right-text-caption">Have Any Questions?</div>
          <div class="corzo-logo-right-text-content">
            Call Now <u>+1-234-2566</u>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
