<div class="corzo-body-outer-wrapper">
  <app-navbar></app-navbar>
  <div class="corzo-page-wrapper" id="corzo-page-wrapper">
    <div class="gdlr-core-page-builder-body">
      <div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px">
        <div
          class="gdlr-core-pbf-background-wrap"
          style="background-color: #161616"
        ></div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
          <div class="box">
            <!-- <img
              src="https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
              alt="Snow"
              width="100%"
              style="background-size: cover"
            /> -->
            <div class="overlay">
              <h2
                class="box-title"
                style="
                  z-index: 13;
                  font-family: 'Big Shoulders Display';
                  height: auto;
                  width: auto;
                  color: rgb(255, 255, 255);
                  text-decoration: none;
                  white-space: nowrap;
                  min-height: 0px;
                  min-width: 0px;
                  max-height: none;
                  max-width: none;
                  text-align: left;
                  line-height: 110px;
                  letter-spacing: 0px;
                  font-weight: 100;
                  font-size: 100px;
                  transform-origin: 50% 50%;
                  opacity: 1;
                  transform: translate(0px, 0px);
                  visibility: visible;
                "
              >
                Heading Text
              </h2>
              <p
                class="box-text"
                style="
                  z-index: 12;
                  font-family: 'Big Shoulders Display';
                  height: auto;
                  width: auto;
                  color: rgb(255, 255, 255);
                  text-decoration: none;
                  white-space: nowrap;
                  min-height: 0px;
                  min-width: 0px;
                  max-height: none;
                  max-width: none;
                  text-align: left;
                  line-height: 123px;
                  letter-spacing: 0px;
                  font-weight: 700;
                  font-size: 130px;
                  transform-origin: 50% 50%;
                  opacity: 1;
                  transform: translate(0px, 0px);
                  visibility: visible;
                "
              >
                Cyber Security Expert
              </p>
              <hr
                style="
                  z-index: 14;
                  background-color: rgb(211, 37, 37);
                  color: rgb(255, 255, 255);
                  width: 60px;
                  height: 2px;
                  min-height: 0px;
                  min-width: 0px;
                  max-height: none;
                  max-width: none;
                  transform-origin: 50% 50%;
                  opacity: 1;
                  transform: translate(0px, 0px);
                  visibility: visible;
                "
              />
              <p
                style="
                  z-index: 11;
                  font-family: Jost;
                  height: auto;
                  color: rgb(255, 255, 255);
                  text-decoration: none;
                  white-space: normal;
                  width: 537px;
                  min-height: 0px;
                  min-width: 0px;
                  max-height: none;
                  max-width: none;
                  text-align: left;
                  line-height: 35px;
                  letter-spacing: 0px;
                  font-weight: 400;
                  font-size: 21px;
                  transform-origin: 50% 50%;
                  opacity: 1;
                  transform: translate(0px, 0px);
                  visibility: visible;
                "
              >
                Protect your organization against cyber threats by ensuring the
                appropriate security controls are in place.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
