<div class="corzo-body-outer-wrapper">
  <app-navbar></app-navbar>
  <div class="corzo-page-wrapper" id="corzo-page-wrapper">
    <div class="gdlr-core-page-builder-body">
      <app-slider></app-slider>
      <div
        class="gdlr-core-pbf-wrapper"
        style="padding-top: 45px; padding-bottom: 75px"
      >
        <div class="gdlr-core-pbf-background-wrap">
          <div
            class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
            [ngStyle]="{
              'background-image': 'url(' + 'assets/upload/hp3-col-bg.png' + ')',
              'background-repeat': 'no-repeat',
              'background-position': 'top center'
            }"
          ></div>
        </div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
          <div
            class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container"
          >
            <div
              class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
              id="gdlr-core-column-10168"
            >
              <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                    >
                      <span
                        class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                        style="
                          font-size: 13px;
                          font-weight: 500;
                          font-style: normal;
                          text-transform: uppercase;
                          color: #a5a5a5;
                          margin-bottom: 0px;
                        "
                      >
                        01
                      </span>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 25px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #1b1b1b;
                          "
                        >
                          <span
                            class="gdlr-core-title-item-left-dot"
                            style="
                              width: 5px;
                              height: 5px;
                              background-color: #d32525;
                              margin-right: 11px;
                            "
                          ></span
                          >Easy To Generate
                          <span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                      style="padding-bottom: 15px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                        "
                      >
                        <p>
                          We are a leader in endpoint protection solutions by
                          industry analysts, independent testing organi- zations
                          and security professionals.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align"
                      style="margin-bottom: 0px; margin-left: 0px"
                    >
                      <div
                        class="gdlr-core-divider-container"
                        style="max-width: 160px"
                      >
                        <div
                          class="gdlr-core-divider-line gdlr-core-skin-divider"
                          style="
                            border-color: #d32525;
                            border-width: 2px;
                            border-radius: 0px;
                            -moz-border-radius: 0px;
                            -webkit-border-radius: 0px;
                          "
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="gdlr-core-pbf-column gdlr-core-column-20"
              id="gdlr-core-column-75666"
            >
              <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                    >
                      <span
                        class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                        style="
                          font-size: 13px;
                          font-weight: 500;
                          font-style: normal;
                          text-transform: uppercase;
                          color: #a5a5a5;
                          margin-bottom: 0px;
                        "
                      >
                        02
                      </span>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 25px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #1b1b1b;
                          "
                        >
                          <span
                            class="gdlr-core-title-item-left-dot"
                            style="
                              width: 5px;
                              height: 5px;
                              background-color: #d32525;
                              margin-right: 11px;
                            "
                          ></span
                          >Easy To Deploy
                          <span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                      style="padding-bottom: 15px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                        "
                      >
                        <p>
                          We are a leader in endpoint protection solutions by
                          industry analysts, independent testing organi- zations
                          and security professionals.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align"
                      style="margin-bottom: 0px; margin-left: 0px"
                    >
                      <div
                        class="gdlr-core-divider-container"
                        style="max-width: 160px"
                      >
                        <div
                          class="gdlr-core-divider-line gdlr-core-skin-divider"
                          style="
                            border-color: #d32525;
                            border-width: 2px;
                            border-radius: 0px;
                            -moz-border-radius: 0px;
                            -webkit-border-radius: 0px;
                          "
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-20">
              <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                    >
                      <span
                        class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                        style="
                          font-size: 13px;
                          font-weight: 500;
                          font-style: normal;
                          text-transform: uppercase;
                          color: #a5a5a5;
                          margin-bottom: 0px;
                        "
                      >
                        03
                      </span>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 25px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #1b1b1b;
                          "
                        >
                          <span
                            class="gdlr-core-title-item-left-dot"
                            style="
                              width: 5px;
                              height: 5px;
                              background-color: #d32525;
                              margin-right: 11px;
                            "
                          ></span
                          >Easy To Operate
                          <span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                      style="padding-bottom: 15px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                        "
                      >
                        <p>
                          We are a leader in endpoint protection solutions by
                          industry analysts, independent testing organi- zations
                          and security professionals.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align"
                      style="margin-bottom: 0px; margin-left: 0px"
                    >
                      <div
                        class="gdlr-core-divider-container"
                        style="max-width: 160px"
                      >
                        <div
                          class="gdlr-core-divider-line gdlr-core-skin-divider"
                          style="
                            border-color: #d32525;
                            border-width: 2px;
                            border-radius: 0px;
                            -moz-border-radius: 0px;
                            -webkit-border-radius: 0px;
                          "
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div
        class="gdlr-core-pbf-wrapper"
        style="margin-bottom: 0px; padding: 130px 0px 0px 0px; z-index: 9"
      >
        <div class="gdlr-core-pbf-background-wrap">
          <div
            class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
            [ngStyle]="{
              'background-image': 'url(' + 'assets/upload/red000.jpg' + ')',
              'background-repeat': 'no-repeat',
              'background-position': 'top center'
            }"
          ></div>
        </div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
          <div
            class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container"
          >
            <div class="gdlr-core-pbf-element">
              <div
                class="gdlr-core-shape-divider-item"
                id="gdlr-core-shape-divider-16987"
              >
                <div
                  class="gdlr-core-shape-divider-wrap gdlr-core-pos-top gdlr-core-flip"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1000 100"
                    preserveAspectRatio="none"
                  >
                    <path d="M0,6V0h1000v100L0,6z"></path>
                  </svg>
                </div>
              </div>
            </div>
            <div
              class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first"
              id="gdlr-core-column-54652"
            >
              <div
                class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                style="padding: 0px 0px 50px 0px"
              >
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                    >
                      <span
                        class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                        style="
                          font-size: 15px;
                          font-weight: 500;
                          font-style: normal;
                          letter-spacing: 3px;
                          text-transform: uppercase;
                          color: #ffffff;
                        "
                      >
                        <span
                          class="gdlr-core-title-item-left-dot"
                          style="
                            width: 5px;
                            height: 5px;
                            background-color: #ffffff;
                            margin-right: 13px;
                          "
                        ></span
                        >Our Expertise
                      </span>
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 61px;
                            font-weight: 600;
                            letter-spacing: 0px;
                            text-transform: none;
                            color: #ffffff;
                          "
                        >
                          Solution For Business Challenges<span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
              id="gdlr-core-column-15182"
            >
              <div
                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                style="
                  box-shadow: rgba(0, 0, 0, 0.07) 0px 30px 35px;
                  margin: 0px 20px 20px;
                  padding: 50px 15px;
                  height: 420.188px;
                "
                data-sync-height="Height-icon-circle"
              >
                <div class="gdlr-core-pbf-background-wrap">
                  <div
                    class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="
                      background-image: url(upload/circle00.jpg);
                      background-size: cover;
                      background-position: center;
                    "
                    data-parallax-speed="0"
                  ></div>
                </div>
                <div
                  class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
                >
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                      style="padding-bottom: 40px"
                    >
                      <div
                        class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle"
                        style="
                          border-width: 0px;
                          max-width: 62px;
                          margin-top: 30px;
                        "
                      >
                        <img
                          src="assets/upload/icon01-2.png"
                          alt=""
                          width="124"
                          height="124"
                          title="icon01"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 20px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #000000;
                          "
                        >
                          Endpoint Security<span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-p-space"
                      style="padding-bottom: 20px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                          color: #6c6c6c;
                        "
                      >
                        <p>
                          Detect and deny attacker lateral movement across all
                          attack vectors.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"
                      style="padding-bottom: 0px"
                    >
                      <a
                        class="gdlr-core-button gdlr-core-button-transparent gdlr-core-center-align gdlr-core-button-no-border"
                        href="asset-management.html"
                        style="
                          font-size: 20px;
                          font-weight: 500;
                          color: #d32525;
                          padding: 0px 33px 15px 33px;
                          text-transform: none;
                        "
                      >
                        <span class="gdlr-core-content">Learn More</span
                        ><i
                          class="gdlr-core-pos-right fa fa-long-arrow-right"
                          style="font-size: 22px; color: #d32525"
                        ></i>
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  class="gdlr-core-pbf-column-link"
                  href="asset-management.html"
                  target="_self"
                ></a>
              </div>
            </div>
            <div
              class="gdlr-core-pbf-column gdlr-core-column-20"
              id="gdlr-core-column-25906"
            >
              <div
                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                style="
                  box-shadow: rgba(0, 0, 0, 0.07) 0px 30px 35px;
                  margin: 0px 20px 20px;
                  padding: 50px 15px;
                  height: 420.188px;
                "
                data-sync-height="Height-icon-circle"
              >
                <div class="gdlr-core-pbf-background-wrap">
                  <div
                    class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="
                      background-image: url(upload/circle00.jpg);
                      background-size: cover;
                      background-position: center;
                    "
                    data-parallax-speed="0"
                  ></div>
                </div>
                <div
                  class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
                >
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                      style="padding-bottom: 40px"
                    >
                      <div
                        class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle"
                        style="
                          border-width: 0px;
                          max-width: 62px;
                          margin-top: 30px;
                        "
                      >
                        <img
                          src="assets/upload/icon02-1.png"
                          alt=""
                          width="128"
                          height="128"
                          title="icon02"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 20px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #000000;
                          "
                        >
                          Security &amp; It Operations<span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-p-space"
                      style="padding-bottom: 20px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                          color: #6c6c6c;
                        "
                      >
                        <p>
                          Detect and deny attacker lateral movement across all
                          attack vectors.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"
                      style="padding-bottom: 0px"
                    >
                      <a
                        class="gdlr-core-button gdlr-core-button-transparent gdlr-core-center-align gdlr-core-button-no-border"
                        href="asset-management.html"
                        style="
                          font-size: 20px;
                          font-weight: 500;
                          color: #d32525;
                          padding: 0px 33px 15px 33px;
                          text-transform: none;
                        "
                      >
                        <span class="gdlr-core-content">Learn More</span
                        ><i
                          class="gdlr-core-pos-right fa fa-long-arrow-right"
                          style="font-size: 22px; color: #d32525"
                        ></i>
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  class="gdlr-core-pbf-column-link"
                  href="asset-management.html"
                  target="_self"
                ></a>
              </div>
            </div>
            <div
              class="gdlr-core-pbf-column gdlr-core-column-20"
              id="gdlr-core-column-21244"
            >
              <div
                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                style="
                  box-shadow: rgba(0, 0, 0, 0.07) 0px 30px 35px;
                  margin: 0px 20px 20px;
                  padding: 50px 15px;
                  height: 420.188px;
                "
                data-sync-height="Height-icon-circle"
              >
                <div class="gdlr-core-pbf-background-wrap">
                  <div
                    class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="
                      background-image: url(upload/circle00.jpg);
                      background-size: cover;
                      background-position: center;
                    "
                    data-parallax-speed="0"
                  ></div>
                </div>
                <div
                  class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
                >
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                      style="padding-bottom: 40px"
                    >
                      <div
                        class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle"
                        style="
                          border-width: 0px;
                          max-width: 62px;
                          margin-top: 30px;
                        "
                      >
                        <img
                          src="assets/upload/icon03-1.png"
                          alt=""
                          width="120"
                          height="120"
                          title="icon03"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 20px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #000000;
                          "
                        >
                          Cloud Security<span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-p-space"
                      style="padding-bottom: 20px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                          color: #6c6c6c;
                        "
                      >
                        <p>
                          Detect and deny attacker lateral movement across all
                          attack vectors.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"
                      style="padding-bottom: 0px"
                    >
                      <a
                        class="gdlr-core-button gdlr-core-button-transparent gdlr-core-center-align gdlr-core-button-no-border"
                        href="asset-management.html"
                        style="
                          font-size: 20px;
                          font-weight: 500;
                          color: #d32525;
                          padding: 0px 33px 15px 33px;
                          text-transform: none;
                        "
                      >
                        <span class="gdlr-core-content">Learn More</span
                        ><i
                          class="gdlr-core-pos-right fa fa-long-arrow-right"
                          style="font-size: 22px; color: #d32525"
                        ></i>
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  class="gdlr-core-pbf-column-link"
                  href="asset-management.html"
                  target="_self"
                ></a>
              </div>
            </div>
            <div
              class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
              id="gdlr-core-column-61619"
              style="z-index: 9"
            >
              <div
                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                style="
                  box-shadow: rgba(0, 0, 0, 0.07) 0px 30px 35px;
                  margin: 20px 20px -80px;
                  padding: 50px 15px;
                  height: 420.188px;
                "
                data-sync-height="Height-icon-circle"
              >
                <div
                  class="gdlr-core-pbf-background-wrap"
                  style="background-color: #ffffff"
                >
                  <div
                    class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="
                      background-image: url(upload/circle00.jpg);
                      background-size: cover;
                      background-position: center;
                    "
                    data-parallax-speed="0"
                  ></div>
                </div>
                <div
                  class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
                >
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                      style="padding-bottom: 40px"
                    >
                      <div
                        class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle"
                        style="
                          border-width: 0px;
                          max-width: 62px;
                          margin-top: 30px;
                        "
                      >
                        <img
                          src="assets/upload/icon04.png"
                          alt=""
                          width="118"
                          height="130"
                          title="icon04"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 20px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #000000;
                          "
                        >
                          Threat Intelligence<span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-p-space"
                      style="padding-bottom: 20px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                          color: #6c6c6c;
                        "
                      >
                        <p>
                          Detect and deny attacker lateral movement across all
                          attack vectors.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"
                      style="padding-bottom: 0px"
                    >
                      <a
                        class="gdlr-core-button gdlr-core-button-transparent gdlr-core-center-align gdlr-core-button-no-border"
                        href="asset-management.html"
                        style="
                          font-size: 20px;
                          font-weight: 500;
                          color: #d32525;
                          padding: 0px 33px 15px 33px;
                          text-transform: none;
                        "
                      >
                        <span class="gdlr-core-content">Learn More</span
                        ><i
                          class="gdlr-core-pos-right fa fa-long-arrow-right"
                          style="font-size: 22px; color: #d32525"
                        ></i>
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  class="gdlr-core-pbf-column-link"
                  href="asset-management.html"
                  target="_self"
                ></a>
              </div>
            </div>
            <div
              class="gdlr-core-pbf-column gdlr-core-column-20"
              id="gdlr-core-column-21825"
              style="z-index: 9"
            >
              <div
                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                style="
                  box-shadow: rgba(0, 0, 0, 0.07) 0px 30px 35px;
                  margin: 20px 20px -80px;
                  padding: 50px 15px;
                  height: 420.188px;
                "
                data-sync-height="Height-icon-circle"
              >
                <div
                  class="gdlr-core-pbf-background-wrap"
                  style="background-color: #ffffff"
                >
                  <div
                    class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="
                      background-image: url(upload/circle00.jpg);
                      background-size: cover;
                      background-position: center;
                    "
                    data-parallax-speed="0"
                  ></div>
                </div>
                <div
                  class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
                >
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                      style="padding-bottom: 40px"
                    >
                      <div
                        class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle"
                        style="
                          border-width: 0px;
                          max-width: 62px;
                          margin-top: 30px;
                        "
                      >
                        <img
                          src="assets/upload/icon05.png"
                          alt=""
                          width="128"
                          height="128"
                          title="icon05"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 20px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #000000;
                          "
                        >
                          Risk Reduction<span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-p-space"
                      style="padding-bottom: 20px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                          color: #6c6c6c;
                        "
                      >
                        <p>
                          Detect and deny attacker lateral movement across all
                          attack vectors.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"
                      style="padding-bottom: 0px"
                    >
                      <a
                        class="gdlr-core-button gdlr-core-button-transparent gdlr-core-center-align gdlr-core-button-no-border"
                        href="asset-management.html"
                        style="
                          font-size: 20px;
                          font-weight: 500;
                          color: #d32525;
                          padding: 0px 33px 15px 33px;
                          text-transform: none;
                        "
                      >
                        <span class="gdlr-core-content">Learn More</span
                        ><i
                          class="gdlr-core-pos-right fa fa-long-arrow-right"
                          style="font-size: 22px; color: #d32525"
                        ></i>
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  class="gdlr-core-pbf-column-link"
                  href="asset-management.html"
                  target="_self"
                ></a>
              </div>
            </div>
            <div
              class="gdlr-core-pbf-column gdlr-core-column-20"
              id="gdlr-core-column-22438"
              style="z-index: 9"
            >
              <div
                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                style="
                  box-shadow: rgba(0, 0, 0, 0.07) 0px 30px 35px;
                  margin: 20px 20px -80px;
                  padding: 50px 15px;
                  height: 420.188px;
                "
                data-sync-height="Height-icon-circle"
              >
                <div
                  class="gdlr-core-pbf-background-wrap"
                  style="background-color: #ffffff"
                >
                  <div
                    class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="
                      background-image: url(upload/circle00.jpg);
                      background-size: cover;
                      background-position: center;
                    "
                    data-parallax-speed="0"
                  ></div>
                </div>
                <div
                  class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
                >
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                      style="padding-bottom: 40px"
                    >
                      <div
                        class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle"
                        style="
                          border-width: 0px;
                          max-width: 62px;
                          margin-top: 30px;
                        "
                      >
                        <img
                          src="assets/upload/icon06.png"
                          alt=""
                          width="128"
                          height="128"
                          title="icon06"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                      style="padding-bottom: 20px"
                    >
                      <div class="gdlr-core-title-item-title-wrap">
                        <h3
                          class="gdlr-core-title-item-title gdlr-core-skin-title"
                          style="
                            font-size: 28px;
                            font-weight: 600;
                            color: #000000;
                          "
                        >
                          Waf &amp; Networking<span
                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                          ></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-p-space"
                      style="padding-bottom: 20px"
                    >
                      <div
                        class="gdlr-core-text-box-item-content"
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          text-transform: none;
                          color: #6c6c6c;
                        "
                      >
                        <p>
                          Detect and deny attacker lateral movement across all
                          attack vectors.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"
                      style="padding-bottom: 0px"
                    >
                      <a
                        class="gdlr-core-button gdlr-core-button-transparent gdlr-core-center-align gdlr-core-button-no-border"
                        href="asset-management.html"
                        style="
                          font-size: 20px;
                          font-weight: 500;
                          color: #d32525;
                          padding: 0px 33px 15px 33px;
                          text-transform: none;
                        "
                      >
                        <span class="gdlr-core-content">Learn More</span
                        ><i
                          class="gdlr-core-pos-right fa fa-long-arrow-right"
                          style="font-size: 22px; color: #d32525"
                        ></i>
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  class="gdlr-core-pbf-column-link"
                  href="asset-management.html"
                  target="_self"
                ></a>
              </div>
            </div>
            <div class="gdlr-core-pbf-element">
              <div
                class="gdlr-core-shape-divider-item"
                id="gdlr-core-shape-divider-34601"
              >
                <div
                  class="gdlr-core-shape-divider-wrap gdlr-core-pos-bottom gdlr-core-flip"
                  style="z-index: -6"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1000 100"
                    preserveAspectRatio="none"
                  >
                    <path d="M0,6V0h1000v100L0,6z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
