<div class="corzo-body-outer-wrapper">
  <app-navbar></app-navbar>
  <div class="corzo-page-wrapper" id="corzo-page-wrapper">
    <div class="gdlr-core-page-builder-body">
      <div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px">
        <div
          class="gdlr-core-pbf-background-wrap"
          style="background-color: #161616"
        ></div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
          <div class="box">
            <!-- <img
              src="https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
              alt="Snow"
              width="100%"
              style="background-size: cover"
            /> -->
            <div class="overlay">
              <h2
                class="box-title"
                style="
                  z-index: 13;
                  font-family: 'Big Shoulders Display';
                  height: auto;
                  width: auto;
                  color: rgb(255, 255, 255);
                  text-decoration: none;
                  white-space: nowrap;
                  min-height: 0px;
                  min-width: 0px;
                  max-height: none;
                  max-width: none;
                  text-align: left;
                  line-height: 8.2vw;
                  letter-spacing: 0px;
                  font-weight: 100;
                  font-size: 5em;
                  transform-origin: 50% 50%;
                  opacity: 1;
                  transform: translate(0px, 0px);
                  visibility: visible;
                "
              >
                Heading Text
              </h2>
              <p
                class="box-text"
                style="
                  z-index: 12;
                  font-family: 'Big Shoulders Display';
                  height: auto;
                  width: auto;
                  color: rgb(255, 255, 255);
                  text-decoration: none;
                  white-space: nowrap;
                  min-height: 0px;
                  min-width: 0px;
                  max-height: none;
                  max-width: none;
                  text-align: left;
                  line-height: 8.3vw;
                  letter-spacing: 0px;
                  font-weight: 700;
                  font-size: 7em;
                  transform-origin: 50% 50%;
                  opacity: 1;
                  transform: translate(0px, 0px);
                  visibility: visible;
                "
              >
                Cyber Security Expert
              </p>
              <hr
                style="
                  background-color: rgb(211, 37, 37);
                  width: 10%;
                  height: 2px;
                  opacity: 1;
                  visibility: visible;
                  border-top: 0;
                  margin-top: 7%;
                  margin-bottom: 5%;
                "
              />
              <p
                style="
                  z-index: 11;
                  font-family: Jost;
                  height: auto;
                  color: rgb(255, 255, 255);
                  text-decoration: none;
                  white-space: normal;
                  width: 537px;
                  min-height: 0px;
                  min-width: 0px;
                  max-height: none;
                  max-width: none;
                  text-align: left;
                  line-height: 35px;
                  letter-spacing: 0px;
                  font-weight: 400;
                  font-size: 21px;
                  transform-origin: 50% 50%;
                  opacity: 1;
                  transform: translate(0px, 0px);
                  visibility: visible;
                "
              >
                Protect your organization against cyber threats by ensuring the
                appropriate security controls are in place.
              </p>
              <a
                class="gdlr-core-button gdlr-core-button-gradient gdlr-core-center-align gdlr-core-button-no-border"
                href="contact.html"
                style="
                  font-size: 16px;
                  font-weight: 700;
                  letter-spacing: 0px;
                  color: #ffffff;
                  padding: 1px 31px 1px 31px;
                  text-transform: none;
                  margin: 5% 0px 10px 80%;
                  background: #d32525;
                "
              >
                <span class="gdlr-core-content">Get Consult</span
                ><i
                  class="gdlr-core-pos-right ion-ios-arrow-thin-right"
                  style="font-size: 31px; color: #ffffff"
                ></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
